.container {
  width: 750px !important;
}
#basics {
  height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}
#nest_outer {
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
#nest_inner {
  height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
}
#wheelzoom {
  height: 478px;
  overflow: auto;
  padding: 0px;
}
#wheelzoom img {
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
#edges {
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
#events {
  height: 239px;
  overflow: auto;
  padding: 0px;
  border: 1px solid #ddd;
}
#events img {
  height: 478px;
}
#log {
  height: 239px;
  overflow: auto;
  border: 1px solid #ddd;
}
#anchors {
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
#custom {
  height: 300px;
  overflow: auto;
}
#custom > div {
  width: 1600px;
}
#custom_top,
#custom_right,
#custom_bottom {
  text-decoration: underline;
  color: #f00;
}
