.sw-inner
  box-sizing content-box
  display inline-block
  transform-origin 0 0

.sw-inner:before
  position absolute
  content ''
  pointer-events none

.sw-grab.sw-inner img
  pointer-events none
  user-drag none
  user-select none
  -moz-user-select none
  -webkit-user-drag none
  -webkit-user-select none
  -ms-user-select none

.sw-grab.sw-inner .sw-ignore
  cursor auto

.sw-grab.sw-inner
  cursor grab
  cursor -moz-grab
  cursor -webkit-grab
  cursor url(grab.cur), grab

.sw-grabbing, .sw-grabbing *, .sw-grabbing .sw-grab.sw-inner
  user-select none
  -moz-user-select none
  -webkit-user-drag none
  -webkit-user-select none
  -ms-user-select none
  cursor grabbing
  cursor -moz-grabbing
  cursor -webkit-grabbing
  cursor url(grabbing.cur), grabbing

.sw-nograb .sw-inner
  cursor auto !important

.sw-fakebody
  height 100%
  width 100%
  position fixed
  overflow auto
  margin 0
  padding 0
