.zw-inner
  box-sizing content-box
  display inline-block
  transform-origin 0 0

.zw-inner:before
  position absolute
  content ''
  pointer-events none

.zw-grab.zw-inner img
  /*pointer-events none*/
  user-drag none
  user-select none
  -moz-user-select none
  -webkit-user-drag none
  -webkit-user-select none
  -ms-user-select none

.zw-grab.zw-inner .zw-ignore
  cursor auto

.zw-grab.zw-inner
  cursor grab
  cursor -moz-grab
  cursor -webkit-grab
  cursor url(grab.cur), default

.zw-grabbing, .zw-grabbing *, .zw-grabbing .zw-grab.zw-inner
  user-select none
  -moz-user-select none
  -webkit-user-drag none
  -webkit-user-select none
  -ms-user-select none
  cursor grabbing
  cursor -moz-grabbing
  cursor -webkit-grabbing
  cursor url(grabbing.cur), default

.zw-nograb .zw-inner
  cursor auto !important

.zw-fakebody
  height 100%
  width 100%
  position fixed
  overflow auto
  margin 0
  padding 0
